<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.pushy.example" >

	<!-- Pushy Permissions -->

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

	<!-- End Pushy Permissions -->

	<uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Main"
			android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<!-- Pushy Declarations -->

		<!-- Pushy Notification Receiver -->
		<!-- Incoming push notifications will invoke the following BroadcastReceiver -->
		<receiver android:name=".PushReceiver" android:exported="false">
			<intent-filter>
				<!-- Do not modify this -->
				<action android:name="pushy.me" />
			</intent-filter>
		</receiver>

		<!-- Pushy Update Receiver -->
		<!-- Do not modify - internal BroadcastReceiver that restarts the listener service -->
		<receiver android:name="me.pushy.sdk.receivers.PushyUpdateReceiver" android:exported="false">
			<intent-filter>
				<action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
			</intent-filter>
		</receiver>

		<!-- Pushy Boot Receiver -->
		<!-- Do not modify - internal BroadcastReceiver that restarts the listener service -->
		<receiver android:name="me.pushy.sdk.receivers.PushyBootReceiver" android:exported="false">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
		</receiver>

		<!-- Pushy Socket Service -->
		<!-- Do not modify - internal service -->
		<service android:name="me.pushy.sdk.services.PushySocketService" android:stopWithTask="false" />

		<!-- Pushy Job Service (added in Pushy SDK 1.0.35) -->
		<!-- Do not modify - internal service -->
		<service android:name="me.pushy.sdk.services.PushyJobService"
			android:permission="android.permission.BIND_JOB_SERVICE"
			android:stopWithTask="false" />

 		<!-- Pushy Firebase Service -->
        <service
            android:name="me.pushy.sdk.services.PushyFirebaseService"
            android:exported="false"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

		<!-- End Pushy Declarations -->
    </application>
</manifest>
